@font-face {
    font-family: 'VegurMedium';
    src: url('../fonts/vegur_medium.eot');
    src: url('../fonts/vegur_medium.eot?#iefix') format('eot'),
         url('../fonts/vegur_medium.woff') format('woff'),
         url('../fonts/vegur_medium.ttf') format('truetype'),
         url('../fonts/vegur_medium.svg#webfontzTW8rbLh') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 0;
	background: url(../images/bg.jpg);
	font-family: sans-serif;
}

.clear {
	clear: both;
}

img {
	border: none;
}

ul {
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.clearfix:before,
.clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.right {
	float: right;
}

.left {
	float: left;
}

.center {
	width: 1172px;
	margin: auto;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #333;
}

p {
	font-size: 14px;
	color: #000;
	line-height: 25px;
	font-family: Arial, sans-serif;
	margin-top: 0;
	margin-bottom: 20px;
}

ul {
	margin-left: 0;
	padding-left: 15px;
}

li {
	font-size: 14px;
	color: #000;
	line-height: 25px;
	font-family: Arial, sans-serif;
	margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'VegurMedium', sans-serif;
	margin-top: 0;
	margin-bottom: 15px;
	line-height: normal;
	font-weight: normal;
}

h2 {
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: 100;
	letter-spacing: 0px;
}

h3 {
	font-size: 20px;
	margin-bottom: 20px;
}

.btn {
	display: block;
	padding: 8px 15px;
	background: #27b4b5;
	border-radius: 5px;
	color: #dce9fa!important;
	font-weight: bold;
	font-size: 16px;
	background: -webkit-linear-gradient(top, #3fc7ca, #17a79e);
	background: -moz-linear-gradient(top, #3fc7ca, #17a79e);
	background: -o-linear-gradient(top, #3fc7ca, #17a79e);
	background: -ms-linear-gradient(top, #3fc7ca, #17a79e);
	background: linear-gradient(top, #3fc7ca, #17a79e);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 0 2px 1px #59e7ec;
	box-shadow: inset 0 2px 1px #59e7ec;
	border: 1px solid #3daca6;
	text-align: center;
	display: inline-block;
}

.btn:hover {
	background: #21adae;
		box-shadow: inset 0 1px 1px #59e7ec;
}

.btn:active {
	background: #21adae;
	box-shadow: inset 0px 3px 10px rgba(0,0,0,0.3);
}


/*************************
=header
*************************/

.header {
	margin-bottom: 50px;
	padding-bottom: 31px;
	border-bottom: 1px solid #fff;
	box-shadow: 0 1px 0 #dfdfdf;
	background: url(../images/header-bg.png);
}

/* top-header */

.top-header {}

/* main-header */

.main-header {
	padding-top: 30px;
}

.main-header .logo {
	margin: 0;
	float: left;
}

.main-header .logo img {
	width: 280px;
	margin-top: 10px;
}

.main-header .navbar {
	float: right;
}

.main-header .navbar li {
	float: left;
	list-style-type: none;
}

.main-header .navbar li a {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 18px;
	padding: 10px 11px;
	border-top: 5px solid transparent;
	display: block;
	border-right: 1px solid #ffffff;
	box-shadow: inset -1px 0 0 #e9e9e9;
}

.main-header .navbar li a:hover,
.main-header .navbar li.active a {
	background: #fff;
	color: #2ab5ba;
	border-right: 1px solid transparent;
	box-shadow: inset -1px 0 0 transparent;
	border-radius: 4px;
	padding: 10px 11px 15px;
}

/*************************
=main
*************************/

.main {
    margin-bottom: 50px;

}

/*** =slider
*********************************/

.slider {
	position: relative;
	margin-bottom: 0px;
}

.slider .main_slider {
	position: relative;
	z-index: 10;
	border-radius: 5px;
}

.slider .main_slider img {
	border-radius: 5px;
}

.flex-control-nav li {
	margin: 0 3px;
}

.flex-control-paging li a {
	background: url(../images/bullet-off.png) no-repeat;
	width: 22px;
	height: 22px;
	border: none;
}

.flex-control-paging li a:hover,
.flex-control-paging li a.flex-active {
	background: url(../images/bullet.png) no-repeat;
	border: none;
}

.slider .slider-shadow {
	width: 942px;
	height: 132px;
	background: url(../images/slider-shadow.png) center center;
	position: absolute;
	top: 82%;
	z-index: 9;
}

.slider-snippet {
	width: 40%;
	margin-right: 3%;
	float: left;
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.slider-img {
	width: 57%;
	float: right;
}

.slider-img img {
	width: 100%;
}

/*** =home-content
*********************************/

.home-content {
	width: 100%;
	height: 303px;
}

.home-content .col {
	width: 29%;
	float: left;
	margin: 2.1666667%;
}

.home-content .col .col-img {
	width: 100%;
	margin-bottom: 20px;
}

.home-content .col .col-img img {
	width: 100%;
	height: 300px
}

.home-content .col a {
	color: #00989d;
}


/*************************
=footer
*************************/

.footer {
	padding: 40px 0;
	background: url(../images/header-bg.png);
	border-top: 1px solid #dbdbdb;
	box-shadow: inset 0 1px 0 #fff;
}

.footer p {
	margin-top: 13px;
	margin-bottom: 0;
}

.footer p a {
	color: #00989d;
	border-bottom: 1px solid #00989d;
}

.footer-logo {
	float: left;
	padding-right: 10px;
	margin-right: 15px;
	border-right: 1px solid #d9d9d9;
	box-shadow: 1px 0 0 #fff;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer-logo h3 {
	color: #000;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 0;
}

.footer-logo h3 span {
	color: #2ab5ba;
	text-shadow: 0 5px 5px rgba(0,0,0,0.10);
}

/* .footer-credits */

.footer-credits {
	float: left;
}

.footer-credits .f-email {
	padding-left: 10px;
}

.img-cont-cen {
	text-align: center;
	margin-bottom: 20px;
}

.content-area ol {
	padding-left: 20px;
}

.content-area ol li {
	font-size: 14px;
	color: #000;
	line-height: 25px;
	font-family: Arial, sans-serif;
}

.img-cont-cen img {
	max-width: 100%;
}

.content-area h4 {
	color: #0043ff;
}
