.center {
	width: 1170px;
}

.content-area img {
	width: 100%;
	height: 236px;
}

.text-center {
	text-align: center;
}
.sidebar img {
	width: 340px;
	height: 233px;
	margin-top: 20px;
}

.sidebar .sb-img1 {
	margin-top: 241px;
}

.main .sidebar {
	width: 315px;
}

.sec-row .sec-col {
	width: 50%;
}

.main h3 {
	margin-top: 15px;
}

img {
	max-width: 100%;
}

.banner img {
	max-width: 350px;
}

img {max-width: 350px;}